<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('build/app.css') }}">
    <script src="{{ asset('build/app.js') }}" defer></script>
</head>
<body>
<header>
    <h1>My Trading Bot</h1>
</header>
{% block body %}{% endblock %}
</body>
</html>
